.main-outer{
    width:100%;
    height: auto;
    border: 1px solid red;
    display: block;
}
.inner{
    width: 20%;
    height: 50px;
    display: inline-block;
}
#b-1{background-color: #0a53be}
#b-2{background-color: red}
#b-3{background-color: rgb(123,34,65)}
#b-4{background-color: rgba(134,234,45,1)}
#b-5{background-color: yellow}


@media screen and (max-width: 768px) {
    .inner{
        width: 25%
    }
}
@media screen and (max-width: 624px) {
    .inner{
        width: 50%
    }
}
@media screen and (max-width: 320px) {
    .inner{
        width: 100%
    }
}
