.logo-image{
    width: 150px;
    height: 50px;
}
.inner{
    height: auto;
}
.slider-image{
    width: 100%;
}
#left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 10px;
}